@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="C:\Users\pablo\OneDrive\Documents\Visual Studio 2022\Projects\WebCalculator\WebCalculator\wwwroot\css\site.css" />

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div id="calc-canvas">
        <div id="display-area">0</div>
        <table cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td><button id="num1" value="1" onclick="displayButtonValue(this.value)">1</button></td>
                    <td><button id="num2" value="2" onclick="displayButtonValue(this.value)">2</button></td>
                    <td><button id="num3" value="3" onclick="displayButtonValue(this.value)">3</button></td>
                    <td><button id="add-key" value="+" onclick="displayButtonValue(this.value)">+</button></td>
                </tr>
                <tr>
                    <td><button id="num4" value="4" onclick="displayButtonValue(this.value)">4</button></td>
                    <td><button id="num5" value="5" onclick="displayButtonValue(this.value)">5</button></td>
                    <td><button id="num6" value="6" onclick="displayButtonValue(this.value)">6</button></td>
                    <td><button id="subtract-key" value="-" onclick="displayButtonValue(this.value)">-</button></td>
                </tr>
                <tr>
                    <td><button id="num7" value="7" onclick="displayButtonValue(this.value)">7</button></td>
                    <td><button id="num8" value="8" onclick="displayButtonValue(this.value)">8</button></td>
                    <td><button id="num9" value="9" onclick="displayButtonValue(this.value)">9</button></td>
                    <td><button id="multiply-key" value="*" onclick="displayButtonValue(this.value)">*</button></td>
                </tr>
                <tr>
                    <td><button class="clear-button" type="button" id="clear-key">C</button></td>
                    <td><button id="num0" value="0" onclick="displayButtonValue(this.value)">0</button></td>
                    <td><button id="equals-key" onclick="equals()">=</button></td>
                    <td><button id="division-key" value="/" onclick="displayButtonValue(this.value)">/</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
