@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="C:\Users\pablo\OneDrive\Documents\Visual Studio 2022\Projects\WebCalculator\WebCalculator\wwwroot\css\site.css" />

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div id="calc-canvas">
        <div id="output-area">
            <input id="calc-result" class="output">
        </div>
        <table>
            <tbody>
                <tr>
                    <td><button type="button">1</button></td>
                    <td><button type="button">2</button></td>
                    <td><button type="button">3</button></td>
                    <td><button type="button">+</button></td>
                </tr>
                <tr>
                    <td><button type="button">4</button></td>
                    <td><button type="button">5</button></td>
                    <td><button type="button">6</button></td>
                    <td><button type="button">-</button></td>
                </tr>
                <tr>
                    <td><button type="button">7</button></td>
                    <td><button type="button">8</button></td>
                    <td><button type="button">9</button></td>
                    <td><button type="button">*</button></td>
                </tr>
                <tr>
                    <td><button class="clear-button" type="button">C</button></td>
                    <td><button type="button">0</button></td>
                    <td><button type="button">=</button></td>
                    <td><button type="button">/</button></td>
                </tr>
            </tbody>
        </table>
        <!--<div id="button-area-1">
            <button type="button">1</button>
            <button type="button">2</button>
            <button type="button">3</button>
            <button type="button">+</button>
        </div>
        <div id="button-area-2">
            <button type="button">4</button>
            <button type="button">5</button>
            <button type="button">6</button>
            <button type="button">-</button>
        </div>
        <div id="button-area-3">
            <button type="button">7</button>
            <button type="button">8</button>
            <button type="button">9</button>
            <button type="button">*</button>
        </div>
        <div id="button-area-4">
            <button type="button">0</button>
            <button type="button">/</button>
            <button type="button">=</button>
        </div>-->
    </div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
